.right-panel-container{
-fx-background-color:#55616A;
-fx-background-radius:5;
}

.layers-menu{
-fx-background-color:#55616A;
-fx-spacing:8;
-fx-border-radius:3;
-fx-border-width:2;
-fx-border-color:#101f23;
-fx-padding: 5 0 0 0 ;

}
.layers-menu VBox{
-fx-spacing:4;
-fx-padding: 5 1 5 1 ;

}

.layers-menu Button{
-fx-background-color:#55616A;
-fx-spacing:4;
    -fx-pref-width:50;
    -fx-pref-height:25;

}




.layers-menu Button:focused{
-fx-background-color:#778792;
}



.layers-menu Text{
    -fx-fill:#a2b4c0;
    -fx-font-size:1.3em;
    -fx-font-family:"Calibri";
    -fx-font-weight:700;
}

.layers-menu .tree-view{
     -fx-background-color:#101f23;
}

.layers-menu .tree-cell{
     -fx-background-color:#101f23;
 }
 .layers-menu .tree-cell:selected{
      -fx-background-color:#394147;
  }


 .layers-menu .scroll-pane{
     -fx-background-color:#1c353d;
}

/* Customize the vertical scrollbar */
.layers-menu .scroll-bar:vertical {
    -fx-background-color: #1c353d; /* Background color */
}

.layers-menu .scroll-bar:vertical .increment-button {
    -fx-background-color: #1c353d; /* Increment button color */
}

.layers-menu .scroll-bar:vertical .decrement-button {
    -fx-background-color:#1c353d; /* Decrement button color */
}

.layers-menu .scroll-bar:vertical .thumb {
    -fx-background-color: #55616A; /* Thumb color */
}

/* Customize the horizontal scrollbar */
.layers-menu .scroll-bar:horizontal {
    -fx-background-color: #1c353d; /* Background color */
}

.layers-menu .scroll-bar:horizontal .increment-button {
    -fx-background-color: #1c353d; /* Increment button color */
}

.layers-menu .scroll-bar:horizontal .decrement-button {
    -fx-background-color: #1c353d; /* Decrement button color */
}

.layers-menu .scroll-bar:horizontal .thumb {
    -fx-background-color: #55616A; /* Thumb color */
}

.layers-menu .scroll-pane > .corner {
    -fx-background-color: transparent;
}